@font-face
    font-family "PlayFairDisplay"
    src url('../fonts/PlayfairDisplay-Bold.ttf') format('ttf')
    font-weight 600

@font-face
    font-family "PlayFairDisplay"
    src url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf')
    font-weight 400

h1, h2, h3, h4, h5 
    font-family "PlayFairDisplay", serif
    font-weight 400

body
    margin 0
    padding 0
    position relative
    width 100vw
    height 100vh

video 
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh

canvas
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh

.hand
    z-index 2
    position absolute
    width 30px
    height 30px
    background red